.two-col {
  width: 700px;
}

.tch {
  background: #ccc;
  margin: 0 0 10px 0;
  padding: 5px;
}

.two-col .ch {
  font-weight: bold;
}

.two-col .col1 {
  width: 50px;
}

.two-col .col2 {
  margin: 0 20px 0 20px;
  width: 300px;
}

.two-col .col3 {
  width: 300px;
}

.two-col .col1,
.two-col .col2,
.two-col .col3 {
  float: left;
}

.two-col label {
  display: block;
}

.clear {
  clear: both;
}
